teste0.ipynb/
teste.ipynb/
dataset_rcnn/
dataset/
resized_dataset/
dataset_folds/
dataset_YOLO/
dataset_RCNN/
TRACKB1/
yolo/
rcnn/

*.zip
*.tar.gz

__pycache__/
*.py[cod]
*$py.class
*.so
.Python

env/
venv/
ENV/
.venv

.ipynb_checkpoints

*.log

.DS_Store
Thumbs.db

runs/
weights/
*.pt
*.pth
*.onnx

.vscode/
.idea/
*.swp
*.swoICDAR2019_cTDaR